body {
    background: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

textarea {
    align-self: center;
    height: 70vh;
    width: 60vw;
}

#buttons {
    align-self: center;
    width: 700px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background: lightsalmon;
    border-radius: 3px;

    font-size: large;
}