# Nuxt dev/build outputs
.output
.nuxt
.nitro
dist

# Node dependencies
node_modules
npm-debug.log

# Logs
logs
*.log

# Secrets / local env
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Misc
.DS_Store
.fleet
.idea

# Docker
Dockerfile
.dockerignore
.devcontainer