# Build outputs
build
.svelte-kit
dist

# Node dependencies
node_modules
npm-debug.log

# Tests
test-results
playwright-report
e2e

# Logs
logs
*.log

# Secrets / local env
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Misc
.DS_Store
.fleet
.idea
.github

# Docker
Dockerfile
.dockerignore
.devcontainer
