node_modules

# Output
/.svelte-kit
/build
.output
.cache
dist

# OS
.DS_Store
Thumbs.db

# IDE
.fleet
.idea

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
test-results
playwright-report
