body {
    background-color: azure;
    text-align: center;
}

h1 {
    padding: 10px 0 5px;
}

h2 {
    padding-bottom: 20px;
}

#pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 20px;
}