body {
    background: darkgreen;

}

.white-keys button {
    display: inline-block;
    background: white;
    border: solid grey;

    padding: 200px 50px 60px;
    margin-left: -6px;
    font-size: 200%;

}

.white-keys {
    width: 1000px;
    height: 260px;
    padding: 150px;
    text-align: center;
    margin: auto;
}

.black-keys button {
    width: 80px;
    display: inline-block;
    background-color: black;
    color: white;

    text-align: center;
    padding: 100px 25px 30px;
    font-size: 200%;

    border-radius: 5px;
    border: 5px grey;
}

.black-keys {
    width: 1000px;
    padding: 150px;
    text-align: center;
    margin: auto;
}

.gapWE { /* Moves the keys W & E right (for the Gap between the white Letters D & F) */
    position: relative;
    margin-left: 45px;
    right   : 82px;
    bottom: 560px;
}

.gapTYU { /* Moves the keys T & Y & U left (for the Gap between the white Letters D & F) */
    position: relative;
    margin-right: 45px;
    left: 82px;
    bottom: 560px;
}

a {
    display: block;
    text-align: center;
    margin: auto;

}

