body {
    background-color: darkcyan;
}

#quiz-area {
    width: 80vw;
    height: 80vh;
    text-align: center;
    margin: 2vmin auto 0;

    background-color: white;
    background-image: url("img/world.png");
    background-clip: border-box;
    background-size: contain;
    background-position: top left;

    border: solid darkslateblue;
    border-radius: 50px;
}

.title {
    width: 50vw;
    margin: 5vh auto 3vh;
    font-family: 'Roboto Slab', serif;

    background-color: blue;
    border-radius: 50px;
    color: white;
}

.flex-container {
    width: 40vw;
    height: 60vh;
    margin: 1vh auto 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;

}

.card:hover{
    transform: rotateY(180deg);
}

.card {
    width: 7vw;
    height: 7vh;
    font-size: 1.5vmin;
    font-family: 'Oswald', sans-serif;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.front {
    background-color: orange;
    backface-visibility: hidden;
    z-index: 2;
}

.back {
    background-color: darkorange;
    transform: rotateY(180deg);
    z-index: 1;
}