/* ------------------
** Main
** ------------------*/
body {
    background: black;
    overflow: hidden
}

.space {
    background-image: url("res/space.png");
    width: 100vw;
    height: 100vh;

}

.planet-area {
    width: 900px;
}

.planet {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: -15px;
    left: -15px;
    z-index: 1;
}

.rocket {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: fixed;
    bottom: 105px;
    left: 175px;
}
/* ------------------*/



/* ------------------
** Control Panel
** ------------------*/
.control-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    padding: 1.5vh 1vw;

    background-color: yellow;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(0,0,0,1) 35px, rgba(0,0,0,1) 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-panel__inner {
    background-color: #474747;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}

.control-text {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.control-input {
    width: 74%;
    border-radius: 5px;
    border-color: yellow;
    border-style: solid;
    background-color: inherit;
}

.control-ok-button {
    width: 20%;
    text-align: center;
    border-radius: 5px;
    background-color: yellow;
}

.check-buttons {
    display: flex;
    padding: 5%;
    margin-top: 5%;
    height: 2vh;

    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.control-slider {
    -webkit-box-orient: vertical;
}

.levers {
    display: flex;
    padding: 5%;
    margin-top: 5%;
    height: 45%;

    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

.control-launch-button {
    display: block;
    width: 40%;
    height: 15%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 30px;
    color: white;
}

/* ------------------*/

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    padding: 0 5px;
}
