header {
    background-image: url("../img/HDK.jpg");
    background-size: cover;
    background-position: center;

    height: 95vh;
}

#title {
    width: 20%;
    font-size: 300%;
    padding-top: 80vh;
    padding-left: 5vw;
    color: white;
    margin: 0;
}