#about {
    height: 100vh;
    background-color: lightgray;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#about-div-text {
    width: 70%;
}

#about-title {
    font-size: 5vh;
    margin: 0;
}

#about-img {
    width: 15%;
    border-radius: 500px;
}

#about-text {
    font-size: 200%;

}

