footer {
    height: 5vmin;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.footer-item {
    margin: 0;
    font-size: 3.75vmin;
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

.footer-item:hover {
    background-color: gray;
}