body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

#card {
    width: min(500px, 90vw);
    margin: 20px auto
}

#card_picture {
    width: min(100px, 20vw);
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}
